html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.clear { clear: both; }

strong, b { font-weight: bold; }

input, textarea { outline: none; }

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

html, body { height: 100%; }

body { font: 12px arial, sans-serif; background: #FFF; color: #353535; }

.all { min-height: 100%; }

.container { max-width: 1024px; width: 100%; margin: auto; position: relative; padding-left: 0; padding-right: 0; }

.wrapper { width: 100%; overflow: hidden; }

.content { float: right; max-width: 817px; width: 100%; margin-bottom: 25px; }

.sidebar { width: 182px; float: left; }

.footer { position: relative; min-height: 50px; font-size: 11px; }

.icon { display: inline-block; }

.lock-icon { background: url('../img/icons-s265da26873.png') 0 -272px no-repeat; width: 10px; height: 14px; display: inline-block; margin-right: 8px; position: relative; top: 1px; }

@font-face { font-family: 'intro_inlineregular'; src: url("../fonts/intro_inline-webfont.eot"); src: url("../fonts/intro_inline-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/intro_inline-webfont.woff2") format("woff2"), url("../fonts/intro_inline-webfont.woff") format("woff"), url("../fonts/intro_inline-webfont.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1 { font-size: 27px; margin-bottom: 35px; font-family: georgia,serif; }

h2 { font-size: 18px; padding-bottom: 20px; }

h3, .h3 { font-size: 27px; font-family: georgia,serif; }

.h4 { font-size: 13px; font-weight: bold; }

.tar { text-align: right; }

.tal { text-align: left; }

.tac { text-align: center; }

a { color: #009da9; }
a:hover { text-decoration: none; }

.fl { float: left; }

.fr { float: right; }

.red-btn { background: #a90c00; color: #FFF; font-family: georgia; text-align: center; height: 29px; line-height: 27px; padding: 0 9px; font-size: 11px; text-transform: uppercase; border: none; }

.top-panel { min-height: 50px; background: #353535; color: #fff; }

.top-panel-menu li { float: left; margin-right: 30px; height: 50px; line-height: 50px; }
.top-panel-menu a { color: #fff; display: inline-block; }

.private-cabinet { float: right; }

.private-dropdown { position: absolute; right: 0; top: 60px; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; -moz-background-clip: padding; -o-background-clip: padding-box; -webkit-background-clip: padding; background-clip: padding-box; background-color: #fff; -moz-box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.4); -webkit-box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.4); box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.4); z-index: 100; padding: 15px 20px; display: none; }

.logo { background: url('../img/icons-s265da26873.png') 0 -296px no-repeat; width: 100px; height: 73px; text-indent: -9000px; display: inline-block; float: left; margin-right: 9px; }

.header { height: 168px; border-bottom: 1px solid #D7D7D7; position: relative; margin-bottom: 25px; }

.enter { color: #FFF; position: relative; top: 14px; }

.logo-block { padding-top: 17px; width: 190px; float: left; margin-right: 20px; }

.logo-descr { color: #A90C00; font-size: 9px; text-transform: uppercase; font-family: georgia,sans-serif; position: relative; top: 34px; }

.search { float: left; padding-top: 50px; margin-right: 104px; }

.search-form { height: 29px; border: 1px solid #D9D9D9; width: 278px; }

.search-btn { background: url('../img/icons-s265da26873.png') 0 -723px no-repeat; width: 18px; height: 18px; display: inline-block; text-indent: -9000px; border: none; float: right; position: relative; top: 5px; margin-right: 7px; }

.search-input { min-width: 230px; padding: 0 10px; height: 27px; line-height: 27px; border: none; }

.htel-block { float: left; padding-top: 23px; }
.htel-block span { color: #707070; }

.htel { font-size: 23px; font-weight: bold; }

.cart-block { float: right; width: 165px; padding-left: 30px; position: relative; margin-top: 36px; }
.cart-block a { color: #A90C00; text-decoration: underline; }
.cart-block a:hover { text-decoration: none; }

.cart-icon { display: inline-block; background: url('../img/icons-s265da26873.png') 0 -44px no-repeat; width: 24px; height: 19px; position: absolute; left: 0; top: 0; }

.cart-title { font-size: 17px; font-weight: bold; margin-bottom: 8px; }

.topmenu-wrapper { border-top: 4px solid #7e7e7e; }

.topmenu { display: table; width: 100%; }
.topmenu li { display: table-cell; }
.topmenu a { font-size: 17px; color: #353535; font-weight: bold; display: block; text-align: center; height: 50px; line-height: 50px; }
.topmenu a:hover { background: #a90c00; color: #fff; }

.topmenu-wrapper { position: absolute; left: 0; bottom: 0; width: 100%; }

.page-title { text-align: center; margin-bottom: 20px; text-align: center; font-size: 27px; font-family: georgia,serif; }
.page-title:after, .page-title:before { content: ""; background: url('../img/icons-s265da26873.png') 0 -751px no-repeat; width: 73px; height: 15px; display: inline-block; margin: 0 20px; }
.page-title .yelback { padding: 0 10px 3px; }

.yelback { background: #FFE52C; }

.product-block { margin-bottom: 30px; padding-left: 10px; padding-right: 10px; float: left; }

.product-img { display: block; position: relative; height: 200px; padding-top: 10px; text-align: center; }

.product-title { font-size: 17px; display: block; height: 50px; margin-bottom: 12px; position: relative; }
.product-title:after { content: ""; display: block; height: 1px; width: 65%; background: #E0E0E0; margin-top: 10px; position: absolute; left: 0; bottom: 0; }

.product-price-wrapper { min-height: 43px; display: block; margin-bottom: 5px; }

.product-price { display: inline-block; font-weight: bold; font-size: 17px; }
.product-price.yelback { padding-left: 3px; padding-right: 3px; }

.product-info { display: block; height: 40px; }

.like-icon { background: url('../img/icons-s265da26873.png') 0 -248px no-repeat; width: 13px; height: 14px; display: inline-block; margin-right: 5px; }

.com-icon { background: url('../img/icons-s265da26873.png') 0 -73px no-repeat; width: 12px; height: 11px; display: inline-block; margin-right: 5px; }

.zoom { background: url('../img/icons-s265da26873.png') 0 -880px no-repeat; width: 25px; height: 24px; display: inline-block; position: absolute; right: 20px; top: 180px; }

.product-credits { display: block; }
.product-credits span { display: inline-block; }

.p-com { border-left: 1px solid #d9d9d9; padding-left: 10px; margin-left: 8px; }

.product-price-last { color: #a90c00; font-family: georgia; font-size: 11px; text-transform: uppercase; font-weight: normal; display: block; margin-top: 3px; }

.product-price-old { text-decoration: line-through; display: block; margin-bottom: 2px; }

.product-block-yelprice .product-price-wrapper { min-height: 57px; }

.slider { margin-bottom: 40px; }

.rec { background: url('../img/icons-s265da26873.png') 0 -653px no-repeat; width: 91px; height: 21px; display: inline-block; position: absolute; left: 0; top: 0; color: #FFF; font-family: georgia; font-size: 10px; text-transform: uppercase; }

.tb-num { font-family: 'intro_inlineregular'; position: absolute; font-size: 125px; color: #E0E0E0; width: 100%; bottom: -20px; left: 0; text-align: center; z-index: 1; }

.toplist-block { height: 254px; border: 1px solid #9D9D9D; padding: 13px 18px 15px; position: relative; }

.tb-wrapper { width: 20%; padding: 5px; float: left; }

.tb-img { height: 116px; display: block; text-align: center; }

.tb-title { font-size: 17px; }

.tb-bot { position: absolute; bottom: 15px; }

.tb-cont { position: relative; z-index: 2; height: 240px; }

.tb-price { font-size: 17px; font-weight: bold; }

.toplist { margin-bottom: 70px; }

.public-title { font-family: arial,sans-serif; font-size: 24px; font-weight: bold; text-align: left; margin-bottom: 18px; }

.public { width: 50%; float: left; padding-right: 20px; }
.public .h4 { margin-bottom: 7px; }
.public .h4 a { color: #353535; text-decoration: underline; }
.public.news { padding-left: 10px; padding-right: 10px; float: right; }

.public-date { color: #9A9A9A; font-size: 11px; margin-bottom: 5px; }

.public-cont p { margin-bottom: 20px; line-height: 1.4em; }

.news-block { margin-bottom: 30px; overflow: hidden; }

.news-img { float: left; width: 66px; overflow: hidden; position: relative; margin-right: 16px; }
.news-img img { height: 100%; }
.news-img:after { content: ""; position: absolute; bottom: 0; left: 0; background: url('../img/icons-s265da26873.png') 0 -459px no-repeat; width: 66px; height: 28px; }

.public-wrapper { margin-bottom: 70px; }

.banners { margin-bottom: 70px; }

.breadcrumbs { margin-bottom: 70px; }
.breadcrumbs a { display: inline-block; margin-right: 12px; }

.text-block p { margin-bottom: 20px; }

.fwrapper { background: #F8F8F8; }

.ftop { min-height: 71px; border-top: 4px solid #5C5C5B; position: relative; top: -4px; border-bottom: 1px solid #DEDEDE; }

.subscribe-text { float: left; padding: 30px; font-family: georgia; text-transform: uppercase; font-size: 11px; }

.f-email { background: #fff; border: 1px solid #DADADA; height: 29px; line-height: 27px; padding: 0 8px; display: inline-block; }
.f-email input { width: 200px; border: none; background: none; }

.mail-icon { background: url('../img/icons-s265da26873.png') 0 -379px no-repeat; width: 16px; height: 10px; display: inline-block; margin-right: 10px; }

.subscribe-form { padding: 25px; }

.fcol { float: left; padding-right: 20px; }
.fcol li { margin-bottom: 10px; }
.fcol li a { color: #9A9A9A; font-size: 11px; }
.fcol li i { margin-right: 8px; float: left; }

.fcol1 { width: 30%; }

.fcol2 { width: 20.7%; }

.fcol3 { width: 17.5%; }

.fcol4 { width: 16%; }

.fcol5 { width: 15.6%; float: right; }

.ftel { display: block; font-size: 18px; color: #5C5C5B; padding-bottom: 5px; }

.ftel-prim { color: #9A9A9A; display: inline-block; margin-bottom: 20px; }

.fcopy { font-family: georgia; text-transform: uppercase; margin-bottom: 20px; }

.fmid { padding-top: 35px; padding-bottom: 20px; }

.ftitle { text-transform: uppercase; font-family: georgia; font-size: 11px; margin-bottom: 15px; }

.f-mail a { color: #a90c00; }

.fb { display: inline-block; background: url('../img/icons-s265da26873.png') 0 -189px no-repeat; width: 16px; height: 16px; }
.fb:hover { background: url('../img/icons-s265da26873.png') 0 -163px no-repeat; width: 16px; height: 16px; }

.tw { display: inline-block; background: url('../img/icons-s265da26873.png') 0 -802px no-repeat; width: 16px; height: 16px; }
.tw:hover { background: url('../img/icons-s265da26873.png') 0 -776px no-repeat; width: 16px; height: 16px; }

.vk { display: inline-block; background: url('../img/icons-s265da26873.png') 0 -854px no-repeat; width: 16px; height: 16px; }
.vk:hover { background: url('../img/icons-s265da26873.png') 0 -828px no-repeat; width: 16px; height: 16px; }

.fbot { padding-top: 30px; padding-bottom: 30px; }

.fb-col1 { width: 32.6%; float: left; }
.fb-col1 img { position: relative; top: -5px; }

.fb-col2 { width: 52%; float: left; color: #D2D2D2; }
.fb-col2 a { color: #2E2E2E; font-size: 10px; font-family: georgia; text-transform: uppercase; padding: 0 10px 0 7px; }

.fb-col3 { width: 15%; float: right; }

.dev { color: #9A9A9A; font-size: 10px; text-align: right; display: block; }
.dev a { color: #2F2F2F; }

.s-title { font-size: 13px; color: #a90c00; font-weight: bold; text-transform: uppercase; font-family: georgia; margin-bottom: 20px; }

.smenu { color: #353535; margin-bottom: 20px; }
.smenu li { margin-bottom: 10px; }
.smenu li a { color: #353535; }
.smenu li a:hover { text-decoration: underline; }
.smenu li span { font-size: 11px; color: #707070; }

.s-subtitle { margin-bottom: 10px; text-transform: uppercase; font-family: georgia; }
.s-subtitle a { color: #353535; background: #FFF; position: relative; z-index: 2; padding-right: 8px; }
.s-subtitle:after { content: ""; display: block; width: 100%; height: 1px; background: #E0E0E0; position: relative; top: -8px; z-index: 1; }
.s-subtitle span { font-size: 11px; color: #707070; }

.s-block { margin-bottom: 30px; }

.sm-block { margin-bottom: 40px; }

.main-slider { margin-bottom: 40px; position: relative; }

.fcol5 a:hover .vk { background: url('../img/icons-s265da26873.png') 0 -828px no-repeat; width: 16px; height: 16px; }
.fcol5 a:hover .fb { background: url('../img/icons-s265da26873.png') 0 -163px no-repeat; width: 16px; height: 16px; }
.fcol5 a:hover .tw { background: url('../img/icons-s265da26873.png') 0 -776px no-repeat; width: 16px; height: 16px; }

.menu-btn { background: url('../img/icons-s265da26873.png') 0 -399px no-repeat; width: 50px; height: 50px; display: inline-block; float: right; cursor: pointer; display: none; }

/** BxSlider v4.1.2 - Fully loaded, responsive content slider http://bxslider.com  Written by: Steven Wanderski, 2014 http://stevenwanderski.com (while drinking Belgian ales and listening to jazz)  CEO and founder of bxCreative, LTD http://bxcreative.com */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper { position: relative; margin: 0 auto 60px; padding: 0; *zoom: 1; }

.bx-wrapper img { max-width: 100%; display: block; }

/** THEME
===================================*/
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: 12px; width: 100%; }

/* LOADER */
.bx-wrapper .bx-loading { min-height: 50px; background: url(images/bx_loader.gif) center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }

/* PAGER */
.bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1; *display: inline; }

.bx-wrapper .bx-pager.bx-default-pager a { border: 2px solid #fff; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 27px; outline: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { border-color: red; }

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev { left: -7px; background: url('../img/icons-s265da26873.png') 0 -592px no-repeat; width: 45px; height: 51px; }

.bx-wrapper .bx-next { right: 0px; background: url('../img/icons-s265da26873.png') 0 -497px no-repeat; width: 45px; height: 51px; }

.bx-wrapper .bx-controls-direction a { position: absolute; top: 30%; margin-top: -25px; outline: 0; text-indent: -9999px; z-index: 99; }

.main-slider .bx-wrapper .bx-controls-direction a { top: 50%; }

.ps-wrapper { position: relative; }
.ps-wrapper .bx-wrapper .bx-prev { background: url('../img/icons-s265da26873.png') 0 -575px no-repeat; width: 5px; height: 7px; margin-right: 13px; }
.ps-wrapper .bx-wrapper .bx-next { background: url('../img/icons-s265da26873.png') 0 -558px no-repeat; width: 5px; height: 7px; left: 20px !important; }
.ps-wrapper .bx-wrapper .bx-controls-direction a { outline: 0; text-indent: -9999px; z-index: 99; position: relative; top: 0; left: 0; right: 0; display: block; float: left; }
.ps-wrapper .bx-wrapper .bx-controls-direction { position: absolute; top: -10px; left: 160px; height: 7px; width: 23px; outline: 0; text-indent: -9999px; z-index: 999; }
.ps-wrapper.ns-wrapper .bx-wrapper .bx-controls-direction { left: 115px; }

.main-slider .bx-wrapper .bx-next { right: -5px; }

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto { text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(images/controls.png) -86px -11px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(images/controls.png) -86px -44px no-repeat; margin: 0 3px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666 \9; background: rgba(80, 80, 80, 0.75); width: 100%; }

.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }

.topslider { background: url(../img/paper.jpg) -45px 0 no-repeat; height: 463px; }

@media (max-width: 1023px) { .content { width: 100%; }
  .container { padding-left: 10px; padding-right: 10px; }
  .htel-block { float: right; }
  .search { margin-right: 0; }
  .topslider { background: none; }
  .sidebar { display: none; }
  .top-panel-menu { display: none; }
  .private-cabinet { float: left; }
  .menu-btn { display: inline-block; }
  .htop { min-height: 180px; }
  .topmenu-wrapper { display: none; }
  .search { position: absolute; bottom: 10px; left: 0; width: 88.6%; }
  .search-form { width: 100%; height: 48px; line-height: 48px; }
  .search-input { height: 44px; line-height: 44px; }
  .header { border-bottom: none; }
  .search-btn { background: url('../img/icons-s265da26873.png') 0 -684px no-repeat; width: 29px; height: 29px; position: relative; top: 8px; }
  .cart-block { right: 0; bottom: 10px; background: #A90C00; height: 48px; position: absolute; width: 11.4%; text-align: center; padding-left: 0; cursor: pointer; }
  .cart-cont { display: none; }
  .cart-icon { background: url('../img/icons-s265da26873.png') 0 0 no-repeat; width: 35px; height: 34px; display: inline-block; position: relative; top: 6px; }
  .cart-block-full { width: 38%; text-align: left; padding-left: 15px; float: left; }
  .cart-block-full .cart-cont { display: block; color: #FFF; padding-left: 60px; padding-top: 5px; line-height: 1.4em; }
  .cart-block-full .cart-cont a { color: #FFF; }
  .cart-block-full .cart-cont span { display: block; font-weight: bold; }
  .cart-block-full .cart-title { display: none; }
  .cart-block-full .cart-icon { position: absolute; left: 15px; top: 7px; }
  .scbf { width: 61%; } }
@media (max-width: 767px) { .page-title { position: relative; padding-left: 75px; padding-right: 75px; }
  .page-title:after { position: absolute; right: -20px; top: 50%; margin-top: -5px; }
  .page-title:before { position: absolute; left: -20px; top: 50%; margin-top: -5px; }
  .page-title .yelback { display: block; }
  .search-input { min-width: 140px; }
  .tb-wrapper { width: 50%; }
  .public-wrapper, .banners, .main-text-block, .fcol2, .fcol3, .fcol4, .breadcrumbs { display: none; }
  .fcol1 { width: 60%; }
  .fcol5 { width: 40%; }
  .fb-col2 { position: absolute; top: -10px; left: 0px; width: 100%; text-align: center; }
  .fb-col2 a:first-child { padding-left: 0; }
  .fb-col2 a:last-child { padding-right: 0; }
  .fb-col1 { width: 55%; padding-top: 20px; }
  .fb-col1 img { max-width: 100%; }
  .fb-col3 { width: 40%; padding-top: 20px; }
  .subscribe-text { padding: 20px; }
  .subscribe-form { width: 100%; padding: 20px; }
  .subscribe-form .red-btn { height: 45px; line-height: 45px; }
  .f-email { width: 61%; float: left; height: 45px; line-height: 45px; }
  .f-email input { width: 70%; }
  .f-email .mail-icon { background: url('../img/icons-s265da26873.png') 0 -215px no-repeat; width: 31px; height: 23px; position: relative; top: 7px; }
  .bx-pager { display: none; } }
@media (max-width: 479px) { .logo-block { width: 100px; padding-top: 10px; }
  .logo-descr { top: 0; }
  .search { bottom: 0; width: 80%; }
  .cart-block { bottom: 0; width: 20%; }
  .cart-block-full { width: 39%; }
  .cart-block-full .cart-icon { background: url(../img/icons/cart-btn.png) 0 0 no-repeat; -webkit-background-size: 100% auto; -o-background-size: 100% auto; background-size: 100% auto; width: 24px; height: 25px; position: absolute; left: 5px; top: 11px; }
  .cart-block-full .cart-cont { padding-left: 25px; }
  .scbf { width: 61%; }
  .fb-col1 { padding-top: 30px; }
  .fb-col3 { padding-top: 25px; } }
