@font-face {
    font-family: 'intro_inlineregular';
    src: url('../fonts/intro_inline-webfont.eot');
    src: url('../fonts/intro_inline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/intro_inline-webfont.woff2') format('woff2'),
         url('../fonts/intro_inline-webfont.woff') format('woff'),
         url('../fonts/intro_inline-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}