///////////////// main /////////////////////
h1 {
	font-size: 27px;
	margin-bottom: 35px;
	font-family: georgia,serif;
}
h2,.h2 {
	font-size: 27px;
	padding-bottom: 20px;
	font-family: georgia,serif;
}
.h3 {
	font-size: 27px;
	font-family: georgia,serif;
}
h3 {
	font-size: 15px;
	font-family: georgia,serif;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.h4 {
	font-size: 13px;
	font-weight: bold;
}
.h5 {
	font-size: 15px;
	text-transform: uppercase;
	font-family: georgia,serif;
	margin-bottom: 20px;
}
.tar {
	text-align: right;
}
.tal {
	text-align: left;
}
.tac {
	text-align: center;
}
a {
	color: #009da9;
	outline: none;
	&:hover {
		text-decoration: none;
		color: #A90C00;
	}
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.italic {
	font-style: italic;
}
p {
	margin-bottom: 15px;
	line-height: 1.4em;
	font-size: 13px;
}
///////////////// colors ////////////////////
$red: #a90c00;
$green: #00ac00;
.red {
	color: $red;
}
.green {
	color: $green;
}
///////////////// buttons ////////////////////
.red-btn {
	background: $red;
	color: #FFF;
	font-family: georgia;
	text-align: center;
	height: 29px;
	line-height: 27px;
	padding: 0 9px;
	font-size: 11px;
	text-transform: uppercase;
	border: none;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	&:hover {
		color: #FFF;
	}
}
.grey-btn {
	font-family: georgia;
	text-transform: uppercase;
	font-size: 17px;
	padding: 10px 20px;
	@include background-clip(padding-box);
	background-color: #dbdbdb;
	@include background-image(linear-gradient(bottom, rgba(180,180,180,.48) 0%, rgba(220,220,220,.48) 100%))
}
.blue-btn {
	background: #0071BD;
	padding-left: 10px !important;
	padding-right:  10px !important;
}
///////////////// top-panel ////////////////////
.top-panel {
	min-height: 50px;
	background: #353535;
	color: #fff;
}
.top-panel-menu {
	li {
		float: left;
		margin-right: 30px;
		height: 50px;
		line-height: 50px;
	}
	a {
		color: #b9b9b9;
		display: inline-block;
	}
}
.private-cabinet {
	float: right;
}
.private-dropdown {
	position: absolute;
	right: 0;
	top: 60px;
	@include border-radius(15px);
	@include background-clip(padding-box);
	background-color: #fff;
	@include box-shadow(3px 4px 9px rgba(0,0,0,.4));
	z-index: 102;
	padding: 15px 20px;
	display: none;
}
///////////////// header ////////////////////
.logo {
	@include s(logo);
	text-indent: -9000px;
	display: inline-block;
	float: left;
	margin-right: 9px;
} 
.header {
	height: 168px;
	border-bottom: 1px solid #D7D7D7;
	position: relative;
	margin-bottom: 25px;
}
.enter {
	color: #FFF;
	position: relative;
	top: 14px;
	&:visited {
		color: #FFF;
	}
	&:active {
		color: #FFF;
	}
	&:focus {
		text-decoration: none;
		outline: none;
	}
}
.logo-block {
	padding-top: 17px;
	width: 190px;
	float: left;
	margin-right: 20px;
}
.logo-descr {
	color: #A90C00;
	font-size: 9px;
	text-transform: uppercase;
	font-family: georgia,sans-serif;
	position: relative;
	top: 34px;
}
.search {
	float: left;
	padding-top: 50px;
	margin-right: 104px;
	position: relative;
}
.search-form {
	height: 29px;
	border: 1px solid #D9D9D9;
	width: 278px;
	position: relative;
	z-index: 101;
	&.search-ext {
		border-bottom: 1px solid #fff;
	}
}
.search-btn {
	@include s(search-icon);
	display: inline-block;
	text-indent: -9000px;
	border: none;
	float: right;
	position: relative;
	top: 5px;
	margin-right: 7px;
}
.search-input {
	min-width: 230px;
	padding: 0 10px;
	height: 27px;
	line-height: 27px;
	border: none;
}
.htel-block {
	float: left;
	padding-top: 23px;
	span {
		color: #707070;
	}
}
////////////////////////////  search-extended  ///////////////////////////
.search-results {
	position: absolute;
	left: 0;
	top: 78px;
	background: #FFF;
	border: 1px solid #d9d9d9;
	z-index: 100;
	width: 816px;
	padding: 20px;
	padding-right: 12px;
	a {
		color: #000;
	}
	li {
		padding: 5px 7px;
		position: relative;
		left: -7px;
		&:hover {
			background: #ECECEC;
		}
	}
}
.srb-title {
	margin-bottom: 10px !important;
}
.search-results-block {
	margin-bottom: 15px;
}
.sr-inner {
	height: 750px;
}
////////////////////////////  search-extended  ///////////////////////////
.htel {
	font-size: 23px;
	font-weight: bold;
}
.cart-block {
	float: right;
	width: 165px;
	padding-left: 30px;
	position: relative;
	margin-top: 36px;
	a {
		color: #A90C00;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.cart-icon {
	display: inline-block;
	@include s(cart-icon);
	position: absolute;
	left: 0;
	top: 0;
}
.cart-title {
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 8px;
}
.topmenu-wrapper {
	border-top: 4px solid #7e7e7e;
}
.topmenu {
	display: table;
	width: 100%;
	li {
		display: table-cell;
	}
	a {
		font-size: 17px;
		color: #353535;
		font-weight: bold;
		display: block;
		text-align: center;
		height: 50px;
		line-height: 50px;
		&:hover {
			background: $red;
			color: #fff;
		}
	}
}
.topmenu-wrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
.page-title {
	text-align: center;
	margin-bottom: 20px;
	text-align: center;
	font-size: 27px;
	font-family: georgia,serif;
	&:after,&:before {
		content: "";
		@include s(title);
		display: inline-block;
		margin: 0 20px;
	}
	.yelback {
		padding: 0 10px 3px;
	}
}
.yelback {
	background: #FFE52C;
}
.product-block {
	margin-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	position: relative;
}
.product-img {
	display: block;
	position: relative;
	height: 200px;
	padding-top: 10px;
	text-align: center;
}
.product-title {
	font-size: 17px;
	display: block;
	height: 43px;
	margin-bottom: 12px;
	position: relative;
	overflow: hidden;
	&:after {
		content: "";
		display: block;
		height: 1px;
		width: 65%;
		background: #E0E0E0;
		margin-top: 10px;
		position: absolute;
		left: 0;
		bottom: 0;
	}
}
.product-price-wrapper {
	min-height: 43px;
	display: block;
	margin-bottom: 5px;
}
.product-price {
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
	&.yelback {
		padding-left: 3px;
		padding-right: 3px;
	}
}
.product-info {
	display: block;
	height: 40px;
}
.like-icon {
	@include s(like-icon);
	display: inline-block;
	margin-right: 5px;
}
.com-icon {
	@include s(com-icon);
	display: inline-block;
	margin-right: 5px;
}
.zoom {
	@include s(zoom);
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 175px
}
.product-credits {
	display: block;
	color: #7c7c7c;
	span {
		display: inline-block;
	}
}
.p-com {
	border-left: 1px solid #d9d9d9;
	padding-left: 10px;
	margin-left: 8px;
}
.product-price-last {
	color: $red;
	font-family: georgia;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	margin-top: 3px;
}
.product-price-old {
	text-decoration: line-through;
	display: block;
	margin-bottom: 2px;
}
.product-block-yelprice {
	.product-price-wrapper {
		min-height: 57px;
	}
}
.slider {
	margin-bottom: 40px;
}
.rec {
	@include s(rec);
	display: inline-block;
	position: absolute;
	left: -8px;
	top: 30px;
	color: #FFF;
	font-family: georgia;
	font-size: 10px;
	text-transform: uppercase;
	text-align: left;
	padding-left: 3px;
}
////////////////////////// toplist ////////////////////////////
.tb-num {
	font-family: 'intro_inlineregular';
	position: absolute;
	font-size: 125px;
	color: #E0E0E0;
	width: 100%;
	bottom: -20px;
	left: 0;
	text-align: center;
	z-index: 1;
}
.toplist-block {
	height: 254px;
	border: 1px solid #9D9D9D;
	padding: 13px 18px 15px;
	position: relative;
}
.tb-wrapper {
	width: 20%;
	padding: 5px;
	float: left;
}
.tb-img {
	height: 116px;
	display: block;
	text-align: center;
}
.tb-title {
	font-size: 17px;
}
.tb-bot {
	position: absolute;
	bottom: 15px;
}
.tb-cont {
	position: relative;
	z-index: 2;
	height: 240px;
}
.tb-price {
	font-size: 17px;
	font-weight: bold;
}
.toplist {
	margin-bottom: 70px;
}
//////////////////////////// public ////////////////////////
.public-title {
	font-family: arial,sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 18px;
}
.public {
	width: 50%;
	float: left;
	padding-right: 20px;
	.h4 {
		margin-bottom: 7px;
		a {
			color: #353535;
			text-decoration: underline;
		}
	}
	&.news {
		padding-left: 10px;
		padding-right: 10px;
		float: right;
	}
}
.public-date {
	color: #9A9A9A;
	font-size: 11px;
	margin-bottom: 5px;
}
.public-cont {
	p {
		margin-bottom: 20px;
		line-height: 1.4em;
	}
}
.news-block {
	margin-bottom: 30px;
	overflow: hidden;
}
.news-img {
	float: left;
	width: 66px;
	overflow: hidden;
	position: relative;
	margin-right: 16px;
	img {
		height: 100%;
	}
	&:after {
		content: "";
		position: absolute;
		top: 64%;
		left: 0;
		@include s(news-img-mask);
	}
}
.public-wrapper {
	margin-bottom: 70px;
}
.banners {
	margin-bottom: 70px;
}
.breadcrumbs {
	margin-bottom: 70px;
	a {
		display: inline-block;
		margin-right: 12px;
	}
}
.text-block {
	p {
		margin-bottom: 20px;
	}
}
.fwrapper {
	background: #F8F8F8;
}
.ftop {
	min-height: 71px;
	border-top: 4px solid #5C5C5B;
	position: relative;
	top: -4px;
	border-bottom: 1px solid #DEDEDE;
}
.subscribe-text {
	float: left;
	padding: 30px;
	font-family: georgia;
	text-transform: uppercase;
	font-size: 11px;
}
.f-email {
	background: #fff;
	border: 1px solid #DADADA;
	height: 29px;
	line-height: 27px;
	padding: 0 8px;
	display: inline-block;
	input {
		width: 200px;
		border: none;
		background: none;
	}
}
.mail-icon {
	@include s(mail-icon);
	display: inline-block;
	margin-right: 10px;
}
.subscribe-form {
	padding: 25px;
}
.fcol {
	float: left;
	padding-right: 20px;
	li {
		margin-bottom: 10px;
		a {
			color: #9A9A9A;
			font-size: 11px;
		}
		i {
			margin-right: 8px;
			float: left;
		}
	}
}
.fcol1 {
	width: 30%;
}
.fcol2 {
	width: 20.7%;
}
.fcol3 {
	width: 17.5%;
}
.fcol4 {
	width: 16%;
}
.fcol5 {
	width: 15.6%;
	float: right;
}
.ftel {
	display: block;
	font-size: 18px;
	color: #5C5C5B;
	padding-bottom: 5px;
}
.ftel-prim {
	color: #9A9A9A;
	display: inline-block;
	margin-bottom: 20px;
}
.fcopy {
	font-family: georgia;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.fmid {
	padding-top: 35px;
	padding-bottom: 20px;
}
.ftitle {
	text-transform: uppercase;
	font-family: georgia;
	font-size: 11px;
	margin-bottom: 15px;
}
.f-mail {
	a {
		color: $red;
	}
}
.fb {
	display: inline-block;
	@include s(fb);
	&:hover {
		@include s(fb-hover);
	}
}
.tw {
	display: inline-block;
	@include s(tw);
	&:hover {
		@include s(tw-hover);
	}
}
.vk {
	display: inline-block;
	@include s(vk);
	&:hover {
		@include s(vk-hover);
	}
}
.fbot {
	padding-top: 30px;
	padding-bottom: 30px;
}
.fb-col1 {
	width: 32.6%;
	float: left;
	img {
		position: relative;
		top: -5px;
	}
}
.fb-col2 {
	width: 52%;
	float: left;
	color: #D2D2D2;
	a {
		color: #2E2E2E;
		font-size: 10px;
		font-family: georgia;
		text-transform: uppercase;
		padding: 0 10px 0 7px;
	}
}
.fb-col3 {
	width: 15%;
	float: right;
}
.dev {
	color: #9A9A9A;
	font-size: 10px;
	text-align: right;
	display: block;
	a {
		color: #2F2F2F;
	}
}
.s-title {
	font-size: 13px;
	color: $red;
	font-weight: bold;
	text-transform: uppercase;
	font-family: georgia;
	margin-bottom: 20px;
}
.smenu {
	color: #353535;
	margin-bottom: 20px;
	li {
		margin-bottom: 10px;
		a {
			color: #353535;
			&:hover {
				color: #009DA9;
			}
			
		}
		span {
			font-size: 11px;
			color: #707070;
		}
		&.current {
			a {
				color: $red;
			}
		}
	}
}
.s-subtitle {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-family: georgia;
	a {
		color: #353535;
		background: #FFF;
		position: relative;
		z-index: 2;
		padding-right: 8px;
	}
	&:after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background: #E0E0E0;
		position: relative;
		top: -8px;
		z-index: 1;
	}
	span {
			font-size: 11px;
			color: #707070;
		}
}
.s-block {
	margin-bottom: 30px;
}
.sm-block {
	margin-bottom: 40px;
}
.main-slider {
	margin-bottom: 40px;
	position: relative;
}
.fcol5 {
	a:hover {
		.vk {
			@include s(vk-hover);
		}
		.fb {
			@include s(fb-hover);
		}
		.tw {
			@include s(tw-hover);
		}
	}
}
.menu-btn {
	@include s(menu-btn);
	display: inline-block;
	float: right;
	cursor: pointer;
	display: none;
}
.menu-btn-active {
	@include s(menu-btn-active);
	z-index: 103;
	position: relative;
}
.mobile-dropmenu {
	display: none;
}
///////////////// modal /////////////////
.box-modal {
	width: 100%;
	min-width: 430px;
	max-width: 430px;
	background: #FFF;
	padding: 20px;
	position: relative;
	font-size: 15px;
	padding-top: 40px;
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.3);
	        box-shadow: 3px 3px 10px rgba(0,0,0,.3);
}
.arcticmodal-close {
	display: inline-block;
	@include s(modal-close);
	text-indent: -9000px;
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
}
.modal-title {
	font-size: 30px;
	font-family: georgia;
	margin-bottom: 25px;
	line-height: 1em;
}
.form-control {
	height: 49px;
	-webkit-border-radius: 0;
	        border-radius: 0;
}
.form-group {
	margin-bottom: 30px;
}
.form-bot {
	margin-bottom: 15px;
}
.form-label {
		margin-bottom: 10px;
	}
.big-btn {
	height: 49px;
	line-height: 48px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	font-size: 17px;
	padding-left: 16px;
	padding-right: 16px;
}
.auth-pass {
	padding-right: 70px;
}
.auth-info-block {
	overflow: hidden;
	margin-bottom: 20px;
}
.aib-img {
	float: left;
	margin-right: 10px;
}
.aib-text {
	margin-left: 50px;
}
.auth-welcome {
	font-size: 25px;
	margin-bottom: 25px;
	font-family: georgia;
}
.textarea {
	height: 110px;
	padding: 10px;
	border: 1px solid #D8D8D8;
	width: 100%;
	resize: none;
}
.r20 {
	-webkit-border-radius: 20px;
	        border-radius: 20px;
}
.textarea-label {
	font-family: georgia;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}
.textarea {
	margin-bottom: 15px;
}
.ya-map {
	margin-bottom: 15px;
	
}
.deliver-point {
	font-family: georgia;
	font-size: 25px;
	margin-bottom: 15px;
}
.deliver-adress {
	text-transform: uppercase;
	font-family: georgia;
	font-size: 17px;
	margin-bottom: 15px;
}
.deliver-text {
	p {
		margin-bottom: 25px;
	}
}
.success-add {
	font-size: 27px;
	font-family: georgia;
	padding-left: 38px;
	position: relative;
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		top: 25%;
		left: 0;
		@include s(suc);
	}
}
/////////////////////////// catalog ///////////////////////////
.product-wrapper {
	.product-block {
		width: 20%;
	}
}
.cat-title {
	font-size: 35px;
	font-family: georgia;
	&:after {
		content: "";
		@include s(title);
		display: inline-block;
		margin-left: 15px;
	}
}
.cat-top {
	position: relative;
	padding-right: 150px;
	margin-bottom: 25px;
}
.finded {
	position: absolute;
	right: 0;
	top: 10px;
	color: #707070;
}
.tags {
	margin-bottom: 15px;
	a {
		display: inline-block;
		margin-bottom: 5px;
		&:after {
			content: "";
			display: inline-block;
			width: 2px;
			height: 2px;
			background: #26A5B0;
			position: relative;
			top: -3px;
			margin-left: 7px;
			margin-right: 7px;
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
}
.sort {
	color: #9A9A9A;
	font-size: 10px;
	font-family: georgia;
	text-transform: uppercase;
	padding: 10px;
	padding-bottom: 5px;
	border: 4px solid #dfe0de;
	margin-bottom: 30px;
	min-height: 40  px;
}
.checkbox {
	margin-top: 0;
	margin-bottom: 0;
	position: relative;
	input {
		display: none;
	}
	input[type="checkbox"] + label::before {
			content: "";
			display: inline-block;
			@include s(check);
			margin-right: 9px;
			position: relative;
			position: absolute;
			left: 0;
			top: 2px;
		}
	input[type="checkbox"]:checked + label::before {
		@include s(check-on);
		top: -3px;
	}
}
.sort-item {
	margin-left: 15px;
	color: #3A3A3A;
	border-bottom: 1px dotted #3A3A3A;
	cursor: pointer;
	&:hover {
		color: $red;
		border-bottom: 1px dotted  $red;
	}
	&.active {
		color: $red;
		border-bottom: 1px dotted  $red;
	}
}
.breadcrumb {
	border-bottom: 1px solid #D7D7D7;
	-webkit-border-radius: 0;
	        border-radius: 0;
	color: #9A9A9A;
	background: none;
	position: relative;
	top: -23px;
	padding-left: 0;
	padding-right: 0;
	font-size: 11px;
	a {
		color: #9A9A9A;
	}
}
.breadcrumb > li + li::before {
	content: "";
	display: inline-block;
	@include s(br-arr);
	margin: 0 5px;
	position: relative;
	top: -1px;
}
.pagination {
	margin-bottom: 90px;
	li {
		margin-right: 5px;
		a {
			
		}
		a:hover {
			background: none;
		}
		&:first-child {
			a {
				border: none !important;
			}
		}
		&:last-child {
			a {
				border: none !important;
			}
		}

	}
}
.pagination > li > a {
	margin-left: 5px;
	width: 25px;
	height: 25px;
	padding: 0;
	text-align: center;
	padding-top: 4px;
	color: #3A3A3A;
}
.pagination > .active > a {
	background: #C10E00;
	color: #fff;
	border: 1px solid #C10E00;
	
	
}
.pg-arr-right {
	display: inline-block;
	@include s(pg-arr-right)
}
.pg-arr-left {
	display: inline-block;
	@include s(pg-arr-left)
}
.sort-select {
	width: 215px;
}
.product-modal {
	max-width: 650px;
	padding: 25px 12px;
	
}
.p-icon {
	@include s(add-product-icon);
	display: inline-block;
	position: relative;
	top: 3px;
	margin-right: 5px;
}
.pmb-info {
	span {
		display: inline-block;
		padding: 0 10px;
		border-left: 1px solid #d9d9d9;
		font-size: 12px;
		color: #7C7C7C;
		&:first-child {
			border-left: none;
			padding-left: 0;
		}
	}
	.p-add-done {
	display: none !important;
	
}
}

.p-add {
	cursor: pointer;
	border-left: none !important;
}
.pmb-img {
	float: left;
	width: 45%;
	text-align: center;
	position: relative;
	img {
		max-width: 100%;
	}
	.rec {
		top: 25px;
		left: 15px;
	}
}
.product-modal-block {
	border-bottom: 1px solid #E2E2E2;
	padding-bottom: 24px;
	margin-bottom: 25px;
}
.small-close {
	@include s(small-close);
}
.pmb-title {
	font-family: georgia;
	font-size: 25px;
	margin-bottom: 10px;
}
.pmb-content {
	padding-right: 25px;
	margin-left: 45%;
}
.pmb-author {
	margin-bottom: 12px;
}
.pmb-price {
	font-size: 20px;
	margin-bottom: 15px;
	.oldprice {
		text-decoration: line-through;
		margin-right: 3px;
	}
	.price {
		font-weight: bold;
		padding: 3px 5px;
	}
}
.pmb-text {
	margin-bottom: 10px;
	font-size: 13px;
}
.pmb-more {
	font-size: 17px;
	margin-bottom: 20px;
}
.pmb-other-wrapper {
	li {
		float: left;
		width: 20%;
		text-align: center;
		padding-left: 9px;
		padding-right: 9px;
		height: 180px;
		span {
			display: block;
			overflow: hidden;
			height: 55px;
		}
		img {
			display: inline-block;
			margin-bottom: 5px;
			max-width: 100%;
		}
	}
}
.pmb-other-title {
	font-family: georgia;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 25px;
}
//////////////////// product //////////////////////////
.page-title-h1 {
	font-size: 35px;
	font-family: georgia;
	margin-bottom: 25px;
	&:after {
		content: "";
		display: inline-block;
		@include s(title)
	}
}
.pp-img {
	float: left;
	width: 32.9%;
}
.pp-content {
	float: right;
	width: 67%;
	margin-bottom: 60px;
}
.book-cred {
	padding-bottom: 10px;
	margin-bottom: 10px;
	&:after {
		content:"";
		border-bottom: 1px solid #E0E0E0;
		width: 210px;
		display: block;
		height: 1px;
	}
	li {
		margin-bottom: 10px;
	}
	span {
		width: 135px;
		display: inline-block;
	}
}
.bb-info {
	margin-bottom: 20px;
}
.bpt-all {
	display: none;
}
.bpt-ext {
	color: #009DA9;
	border-bottom: 1px dotted #009DA9;
	position: relative;
	display: inline-block !important;
	width: auto !important;
	margin-bottom: 20px;
	margin-top: 5px;
	&:after {
		content: "";
		display: inline-block;
		@include s(ext-arr);
		position: absolute;
		right: -10px;
		top: 5px;
	}
}
.book-pred-text {
	line-height: 1.4em;
}
.book-art {
	color: #7C7C7C;
	font-size: 13px;
	margin-bottom: 20px;
}
input[type="radio"] {
	display: none;
}
input[type="radio"] + label::before {
	content: "";
	display: inline-block;
	@include s(radio-off);
	margin-right: 8px;
	position: relative;
	top: 1px;
}
input[type="radio"]:checked + label::before {
	content: "";
	display: inline-block;
	@include s(radio-on);
}
.radio-reg {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: normal;
}
.radio-reg input[type="radio"] + label::before {
	position: absolute;
	right: -20px;
	top: 6px;
}
.radio {
	position: relative;
	font-weight: bold;
	label {
		padding-left: 0;
		font-weight: bold;
	}
	.yelback {
		padding: 5px;
	}
}
.line-through {
	text-decoration: line-through;
	font-weight: bold;
}
.reg {
	font-weight: normal;
}
.gg {
	font-family: georgia;
}
.ttu {
	text-transform: uppercase;
}
.bd {
	border: 4px solid #DFE0DE;
	padding: 10px;
}
.book-kol-block {
	line-height: 27px;
	margin-bottom: 30px;
	display: inline-block;
	.kol {
		font-size: 11px;
		padding-right: 12px;
	}
		span {
			float: left;
			margin: 0 1px;
		}
		input {
			float: left;
			margin: 0 1px;
		}
} 
.dost {
	color: #707070;
	padding-left: 12px;
}
.kol-minus, .kol-plus {
	display: inline-block;
	width: 25px;
	height: 25px;
	text-align: center;
	border: 1px solid #D9D9D9;
	cursor: pointer;
	color: #989898;
	font-weight: bold;
}
.kol-input {
	border: 1px solid #D9D9D9;
	height: 25px;
	line-height: 25px;
	width: 48px;
	text-align: center;

}
.book-radio {
	margin-bottom: 20px;
	li {
		line-height: 1.5em;
	}
}
.bb-price {
	float: left;
	padding-right: 20px;
	padding-top: 6px;
}
.bb-btn {
	float: left;
	margin-right: 25px;
	height: 49px;
	padding: 0 25px;
	-webkit-border-radius: 2px;
	        border-radius: 2px;
	font-size: 15px;
}
.bb-right {
	float: left;
	padding-top: 5px;
}
.bb-nowprice {
	font-size: 20px;
	font-weight: bold;
}
.bb-oldprice {
	text-decoration: line-through;
	color: #707070;
	font-size: 13px;
}
.bb-kol-incart {
	margin-bottom: 10px;
}
.book-bot {
	margin-bottom: 15px;
}
.oneclick-icon {
	@include s(oneclick);
	display: inline-block;
	margin-right: 7px;
}
.offer-btn {
	@include border-radius(2px);
	@include background-clip(padding-box);
	background-color: #dfdfdd;
	@include background-image(linear-gradient(bottom, #e1e1e1 0%, #f6f6f6 100%));
	height: 49px;
	line-height: 48px;
	display: inline-block;
	font-size: 15px;
	color: #575757;
	padding: 0 28px 0 20px;
	i {
		position: relative;
		top: 3px;
	}
}
.bb {
	border-bottom: 1px solid #E2E2E2;
}
.page-title-h2 {
	font-size: 27px;
	font-family: georgia;
	margin-bottom: 20px;
}
.pi-block {
	padding-bottom: 20px;
	margin-bottom: 25px;
}
.about-author-img {
	float: left;
	margin-right: 18px;
	width: 91px;
	height: 125px;
	overflow: hidden;
	position: relative;
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		left: 0;
		top: 0;
		width: 91px;
		height: 125px;
		background: url(../img/img-mask.png) 0 0 no-repeat;
	}
}
.aa-name {
	font-size: 15px;
	font-family: georgia;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.about-author-content {
	margin-left: 111px;
	p {
		margin-bottom: 15px;
	}
}
.prod-opt {
	li {
		margin-bottom: 10px;
	}
	span {
		width: 150px;
		display: inline-block;
	}
}
.otz {
	font-size: 13px;
	margin-bottom: 15px;
}
.otz-author {
	font-size: 15px;
	text-transform: uppercase;
	font-family: georgia;
	margin-bottom: 10px;
	span {
		font-size: 10px;
		font-family: arial;
		color: #707070;
	}
}
.green {
	color: #70aa00;
}
.ao-left {
	float: left;
	width: 40%;
	.form-group {
		margin-bottom: 25px;
	}
}
.add-otz {
	.form-group {
		.form-control {
			height: 25px;
			font-size: 13px;
		}
	}
	.ao-right {
		width: 56%;
		float: right;
		.form-control {
			font-size: 13px;
			resize: none;
			height: 75px;
		}
	}
}
.big-red-btn {
	padding: 0 23px;
	font-size: 15px;
	height: 49px;
	line-height: 49px;
}
.otz-wrapper {
	margin-bottom: 30px;
}
.otz-text {
	margin-bottom: 5px;
}
.op-block {
	width: 40%;
	margin-right: 10%;
}
.op-img {
	float: left;
	width: 160px;
	position: relative;
}
.op-content {
	margin-left: 160px;
}
.other-product {
	margin-bottom: 25px;
}
.seen-block {
	text-align: center;
	font-size: 15px;
	img {
		display: block;
		margin: auto;
		margin-bottom: 10px;
	}
}
#bx-pager {
	a {
		display: inline-block;
		margin: 5px 8px;
		border: 1px solid #E0E0E0;
	}
	.active {
		border: 1px solid #A90C00;
	}
}
.pp-slider {
	.rec {
		left: 1px;
	}
	li img {
		border: 1px solid #E0E0E0;
	}
}
.pp-img {
		.bx-wrapper {
			margin-bottom: 30px;
		}
	}
.prod-suc-add {
	max-width: 360px;
	margin: auto;
	margin-bottom: 25px;
	.success-add {
		font-size: 25px;
	}
}
.psa-btns {
	padding-bottom: 30px;
	text-align: center;
	margin-bottom: 25px;
	a {
		margin-left: 5px;
		margin-right: 5px;
	}
}
.back-arr {
	display: inline-block;
	@include s(back-arr)
}
.one-offer {
	display: none;
	position: absolute;
	left: -30px;
	top: 60px;
	z-index: 102;
	max-width: 284px;
	min-width: 284px;
	font-size: 11px;
	padding-top: 20px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 00px;
	.textarea-label {
		font-size: 11px;
		line-height: 1.5em;
	}
	.big-btn {
		font-size: 15px;
	}
	.form-bot {
		margin-bottom: 0;
	}
}
.offer-btn-wrapper {
	position: relative;	
}
///////////////////////////  cart  //////////////////////////
.ct-col {
	float: left;
}
.cart-row {
	padding: 35px 0;
	border-bottom: 1px dotted #BABABA;
	&:nth-child(2) {
		border-top: 4px solid #787878;
	}
}
.cart-top {
	padding: 15px 0;
	text-transform: uppercase;
	font-size: 11px;
	font-family: georgia;
	border-top: 1px dotted #BABABA;
}
.cart-item-img {
	float: left;
	margin-right: 10px;
}
.ct-col1 {
	width: 37%;
	padding-right: 20px;
}
.ct-col2 {
	width: 18%;
}
.ct-col3 {
	width: 16%;
}
.ct-col4 {
	width: 28%;
}
.cart-item-pereplet {
	font-size: 13px;
	color: #a8a8a8;
}
.cart-item-title {
	display: block;
	margin-bottom: 10px;
	font-size: 17px;
}
.discount {
	float: left;
	margin-top: 12px;
	i {
		display: inline-block;
		@include s(discount);
		color: #FFF;
		text-align: center;
		padding-top: 10px;
	}
}
.cart-price {
	float: left;
	padding-left: 10px;
	span {
		display: block;
	}
}
.cart-item-options {
	float: right;
	a {
		color: #A4A4A4;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
	i {
		position: relative;
		top: 3px;
		margin-right: 6px;
	}
	li {
		margin-bottom: 5px;
	}
}
.cp-oldprice {
	text-decoration: line-through;
	color: #888;
	margin-bottom: 5px;
}
.cp-price {
	color: #353535;
	font-size: 17px;
	font-weight: bold;
}
.bron-icon {
	display: inline-block;
	@include s(bron-icon)
}
.del-icon {
	display: inline-block;
	@include s(del-icon)
}
.reload-icon {
	display: inline-block;
	@include s(reload-icon)
}
.reload-icon {
	display: inline-block;
	@include s(reload-icon)
}
.cart-reload {
	float: right;
	color: #AD160B;
	text-align: center;
	text-decoration: underline;
}
.guarant {
	position: relative;
	padding-left: 30px;
	&:after {
		content: "";
		display: inline-block;
		position: absolute;
		@include s(guarant);
		position: absolute;
		left: -5px;
		top: 0px;
	}
}
.cart-bot {
	border-bottom: none;
}
.promo-s-wrapper {
	float: left;
}
.promo-time {
	position: absolute;
	right: 0;
	top: 35px;
	width: 200px;
}
.promo-time-label {
	font-size: 15px;
	font-family: georgia;
	text-transform: uppercase;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 8px;
}
.cart-in {
	font-size: 27px;
	font-family: georgia;
	margin-bottom: 30px;
}
.cart-q {
	padding-bottom: 25px;
}
.promo-wrapper {
	margin-bottom: 25px;
}
.sld {
	padding-bottom: 20px;
}
.timer-block {
	font-size: 40px;
	font-family: georgia;
	background: #F6F6F6;
	text-align: center;
	padding: 0 0 8px;
}
.promo-wrapper {
	position: relative;
	padding-right: 215px;
}
////////////////// autor ///////////////////
.autor-title {
	margin-bottom: 20px;
}
.autor-img {
	float: left;
	margin-right: 20px;
	width: 125px;
	img {
		border: 2px solid #EBEBEB;
		max-width: 100%;
	}
}
.autor-text {
	margin-left: 145px;
	p {
		margin-bottom: 5px;
	}
}
.autor-block {
	margin-bottom: 25px;
}
.alf {
	li {
		float: left;
		margin-bottom: 5px;
		margin-right: 5px;
	}
	a {
		font-size: 11px;
		color: #3A3A3A;
		border-bottom: 1px dotted #3A3A3A;
		&:hover {
			color: #C10E00;
			border-bottom: none;
		}
	}
}
.autors-letter {
	font-size: 27px;
	font-family: georgia;
	color: #353535;
	margin-bottom: 15px;
}
.autors-wrapper {
	li {
		font-size: 17px;
	}
}
///////////////////// auth /////////////////////
.lbl {
	height: 30px;
	a {
		float: right;
	}
}
.btn-wrp {
	position: relative;
	top: -25px;
	.red-btn {
		margin-right: 20px;
	}
}
.myinput {
	height: 27px;
}
.hello-user {
	font-size: 25px;
	font-family: georgia;
	margin-bottom: 30px;
}
.book-icon {
	display: inline-block;
	@include s(book-icon);
}
.dis-icon {
	display: inline-block;
	@include s(dis-icon);
}
.shop-icon {
	display: inline-block;
	@include s(shop-icon);
}
.bit-icon {
	margin-right: 12px;
	float: left;
	margin-bottom: 50px;
}
.bit-text {
	p {
		margin-bottom: 5px;
	}
}
.block-icon-text {
	overflow: hidden;
}
//////////////////// cart empty //////////
.mess {
	font-size: 25px;
	font-family: georgia;
	margin-bottom: 40px;
}
.locker-icon {
	display: inline-block;
	@include s(lock-icon);
}
.biglock-icon {
	display: inline-block;
	@include s(big-lock);
}
.disc-icon {
	display: inline-block;
	@include s(disc-icon);
}
.cd-block {
	position: relative;
	height: 84px;
	border: 1px dotted #c1c1c1;
	margin-bottom: 35px;
	text-transform: uppercase;
	font-size: 15px;
	font-family: georgia;
	display: table;
	width: 100%;
	padding-left: 65px;
	padding-right: 20px;
	p {
		display: table-cell;
		vertical-align: middle;
		
	}
}
.cd-icon {
	position: absolute;
	top: 25px;
	left: 0px;
	width: 65px;
	text-align: center;
}
.wide-btn {
	width: 100%;
}
/////////////////////// news /////////////////////////
.news-wrapper {
	.news-img {
		&:after {
			
		}
	}
}
.img-left {
	float: left;
	margin-right: 15px;
}
.img-border {
	border: 2px solid #EBEBEB;
}
.news-date {
	margin-bottom: 10px;
	display: block;
}
.h-title {
	margin-bottom: 25px;
}
.fullnews {
	padding-bottom: 20px;
	margin-bottom: 20px;
	p {
		margin-bottom: 0;
	}
}
/////////////////////// reg /////////////////////////
.reg-btn {
	float: left;
	margin-right: 23px;
}
.reg-mess {
	margin-left: 215px;
	p {
		margin-bottom: 10px;
	}
}
.descr-text {
	margin-bottom: 25px;
	font-size: 15px;
	text-transform: uppercase;
	font-family: georgia;
}
.reg-check {
	position: relative;
	top: 10px;
}
/////////////////////// search-results /////////////////////////
.search-top {
	margin-bottom: 40px;
	span {
		float: left;
	}
	.search-form {
		float: left;
		position: relative;
		top: -6px;
		margin-right: 20px;
	}
	.ttu {
		font-size: 15px;
		margin-right: 20px;
	}
	.checkbox {
		float: right;
		color: #9A9A9A;
	}
}
.georgia {
	font-family: georgia, serif;
}
.s-find {
	color: #707070;
}
.series {
	font-size: 17px;
	margin-bottom: 40px;
	li {
		margin-bottom: 5px;
	}
}
.sf-label {
	margin-bottom: 15px;
}
.s-error-block {
	background: #FFF8EC;
	text-align: center;
	padding: 48px;
	margin-bottom: 40px;
	i {
		display: inline-block;
		margin-bottom: 20px;
	}
	p {
		text-transform: uppercase;
		@extend .georgia
	}
}
.less3 {
	display: inline-block;
	@include s(less3);
}
.not-found {
	display: inline-block;
	@include s(not-found);
}
//////////////// cabinet /////////////////
.cab-h2 {
	margin-top: 10px;
	padding-bottom: 0;	
}
.offer-block {
	font-size: 13px;
	border-bottom: 4px solid #797979;
	position: relative;
	margin-bottom: 30px;
}
.ob-arr {
	@include s(ob-arr2);
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -18px;
	cursor: pointer;
}
.offer-block-open {
	.ob-arr {
	@include s(ob-arr);
	}
}
.ob-short {
	padding: 15px;
	background: #F8F8F8;
	padding-bottom: 0;
}
.obs-inner {
	border-bottom: 1px solid #E0E0E0;
	padding-bottom: 15px;
}
.ob-lbl {
	display: inline-block;
	margin-right: 5px;
	color: #797979;
}
.ob-full-list {
	padding: 15px;
	background: #F8F8F8;
	li {
		margin-bottom: 15px;
		a {
			margin-left: 10px;
		}
	}
}
.ob-short-num {
	margin-right: 40px;
}
.ob-pro {
	background: url(../img/icons/ob-pro.png) center top no-repeat;
	padding-top: 30px;
	font-size: 13px;
	padding-bottom: 20px;
}
.ob-pro-img {
	float: left;
	width: 150px;
	text-align: center;
	margin-right: 25px;
}
.ob-pro-title {
	position: relative;
	display: inline-block;
	font-size: 17px;
	padding-bottom: 28px;
	&:after {
		content: "";
		display: block;
		width: 93px;
		height: 1px;
		background: #e0e0e0;
		position: relative;
		top: 12px;
	}
}
.ob-pro-info {
	float: left;
	padding-top: 30px;
}
.ob-pro-kol {
	float: left;
	padding-top: 56px;
}

.ob-pro-info {
	margin-right: 50px;
}
.ob-pro-kol {
	
}
.ob-pro-price {
	float: right;
	padding-right: 10px;
	padding-top: 56px;
}
.ob-bot {
	padding-top: 12px;
	padding-bottom: 14px;
	border-top: 1px solid #e0e0e0;
	margin: 0 15px;
	position: relative;
}
.ob-button-close {
	display: none;
}
.ob-button {
	float: right;
	color: #009DA9;
	border-bottom: 1px dotted #009DA9;
	position: relative;
	margin-right: 14px;
	cursor: pointer;
	&:after {
		content:"";
		@include s(arr-bot);
		display: inline-block;
		position: absolute;
		right: -13px;
		top: 7px;
	}
}
.ob-full {
	display: none;
}
.shop-contact {
	border-top: 1px solid #e0e0e0;
	padding-top: 18px;
	padding-bottom: 18px;
}
.remove-modal {
	position: absolute;
	display: none;
	top: 30px;
	left: 10px;
	width: 280px;
	z-index: 10;
}
///////////////// otz-date /////////////////
.otz-date {
	color: #707070;
	margin-bottom: 10px;
}
.otz.bb {
	padding-bottom: 20px;
}
.discount-list {
	padding-left: 15px;
	li {
		margin-bottom: 10px;
		list-style-type: disc;
	}
}
.discount-wrapper {
	font-size: 13px;
}
.subscribe-list {
	li {
		margin-bottom: 10px;
	}
}
.close-product {
	@include s(close-product);
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}
.hey {
	@include s(aten);
	display: inline-block;
	position: relative;
	top: 4px;
	margin-right: 6px;
}
.reg-left {
	float: left;
	width: 46%;
	margin-bottom: 60px;
	padding-left: 15px;
}
.reg-right {
	float: right;
	width: 50%;
	padding-right: 15px;
}
.reg-label {
	width: 50%;
	float: left;
	text-align: right;
	label {
		padding-right: 20px;
		line-height: 25px;
	}
}
.reg-field {
	width: 50%;
	float: right;
	input {
		height: 27px;
	}
}
textarea {
	resize: none;
}
.value {
	line-height: 25px;
}
.oform-price {
	font-size: 19px;
	.oldprice {
		color: #9D9D9D;
		text-decoration: line-through;
		font-size: 17px;
	}
}
.grey-btn-small {
	font-size: 12px;
	padding: 5px 20px;
}
.brad {
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}
.punkt-select-btn {
	margin-right: 10px;
}
.reg-field {
	font-size: 12px;
	input,textarea {
		font-size: 12px;
	}
}
.reg-text-block {
	background: #DAE6ED;
	border: 1px solid #CBCBCB;
	padding: 20px;
}
.cards {
	margin-bottom: 20px;
	img {
		margin-right: 20px;
	}
}
.regd-modal {
	max-width: 844px;
}
.regd-modal-right {
	float: right;
	width: 29%;
}
.regd-modal-left {
	float: left;
	width: 68%;
}
.ctel-block {
	padding-top: 0;
	float: left !important;
}
.of-btn {
	float: left;
	margin-right: 30px;
	margin-bottom: 20px;
}
.rec-text {
	margin-bottom: 20px;
}
.custom-ol {
    counter-reset:li; /* Инициализируем счетчик */
    padding:0; /* Удаляем  установленное по умолчанию левое поле*/
    list-style:none; /* Отменяем нумерацию установленную по умолчанию */
  }
  .custom-ol li {
      position:relative; /* Создаем контекст для позиционирования элементов */
    	padding-bottom: 10px;
      }
  .custom-ol li:before {
      content:counter(li); /* В качестве данных используем счетчик */
      counter-increment:li; /* Увеличиваем значение счетчика на 1 */
      /* Позиционируем и оформляем цифры */
      font-family: georgia;
      margin-right: 10px;
      }
  .custom-ol li:after {
  	content: ")";
  	display: inline-block;
  	position: absolute;
  	left: 9px;
  	top: 1px;
  }
  .whatnow {
  	margin-bottom: 55px;
  }
  .subscribe-form-bottom {
  	padding: 0;
  	.f-email {
  		input {
  			width: 171px;
  		}
  	}
  }
  .back-to-cart {
  	position: absolute;
  	right: 0;
  	top: 20px;
  	color: #9D9D9D;
  	text-decoration: underline;
  }
.back-to-cart-icon {
	display: inline-block;
	@include s(btc-arr);
	position: relative;
	top: 1px;
}
.bot-block {
	margin-bottom: 30px;
}
.text-wrapper {
	ol {
		margin-bottom: 25px;
	}
	ul {
		padding-top: 10px;
		margin-bottom: 20px;
		padding-left: 15px;
		list-style-type: disc;
		li {
			padding: 5px;
		}
	}
}
.table {
	thead {
		td {
			text-transform: uppercase;
			font-size: 11px;
			border-bottom: 4px solid #787878;
			border-top: 1px dotted #BABABA !important;
		}
	}
	td {
		vertical-align: middle !important;
		border-bottom: 1px dotted #BABABA;
		border-top: none !important;
	}
	td:first-child {
		width: 40%;
		padding-right: 40px;
	}
}
.mc-block {
	li {
		margin-bottom: 10px;
	}
	margin-bottom: 25px;
}
.img-404 {
	float: left;
	text-align: center;
	width: 47%;
	img {
		max-width: 100%;
		height: auto;
		display: inline-block;
	}
}
.content-404 {
	margin-left: 47%;
}
.block-404 {
	position: relative;
	margin-bottom: 50px;
}
.noborder {
	border: none;
}
.reg-label .radio label {
	font-weight: normal;
}