///////////////// responsive /////////////////////
@media (max-width: 1023px) {
	.content {
		width: 100%;
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.htel-block {
		float: right;
	}
	.search {
		margin-right: 0;
	}
	.topslider {
		background: none;
	}
	.sidebar {
		display: none;
	}
	.top-panel-menu {
		display: none;
	}
	.private-cabinet {
		float: left;
	}
	.menu-btn {
		display: inline-block;
	}
	.htop {
		min-height: 180px;
	}
	.topmenu-wrapper {
		display: none;
	}
	.search {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 88.6%;
	}
	.search-form {
		width: 100%;
		height: 48px;
		line-height: 48px;
	}
	.search-input {
		height: 44px;
		line-height: 44px;
	}
	.header {
		border-bottom: none;
	}
	.search-btn {
		@include s(search-icon-big);
		position: relative;
		top: 8px;
	}
	.cart-block {
		right: 0;
		bottom: 10px;
		background: #A90C00;
		height: 48px;
		position: absolute;
		width: 11.4%;
		text-align: center;
		padding-left: 0;
		cursor: pointer;
	}
	.cart-cont {
		display: none;
	}
	.cart-icon {
		@include s(cart-btn);
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.cart-block-full {
		width: 38%;
		text-align: left;
		padding-left: 15px;
		float: left;
		.cart-cont {
			display: block;
			color: #FFF;
			padding-left: 60px;
			padding-top: 5px;
			line-height: 1.4em;
			a {
				color: #FFF;
			}
			span {
				display: block;
				font-weight: bold;
			}
		}
		.cart-title {
			display: none;
		}
		.cart-icon {
			position: absolute;
			left: 15px;
			top: 7px;
		}
	}
	.scbf {
		width: 61%;
	}
} 
@media (max-width: 767px) {
	.page-title {
		position: relative;
		padding-left: 75px;
		padding-right: 75px;
		&:after {
			position: absolute;
			right: -20px;
			top: 50%;
			margin-top: -5px;
		}
		&:before {
			position: absolute;
			left: -20px;
			top: 50%;
			margin-top: -5px;
		}
		.yelback {
			display: block;
		}
	}
	.search-input {
		min-width: 140px;
	}
	.tb-wrapper {
		width: 50%;
	}
	.public-wrapper,.banners,.main-text-block,.fcol2,.fcol3,.fcol4,.breadcrumbs {
		display: none;
	}
	.fcol1 {
		width: 60%;
	}
	.fcol5 {
		width: 40%;
	}
	.fb-col2 {
		position: absolute;
		top: -10px;
		left: 0px;
		width: 100%;
		text-align: center;
		a {
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	.fb-col1 {
		width: 55%;
		padding-top: 20px;
		img {
			max-width: 100%;
		}
	}
	.fb-col3 {
		width: 40%;
		padding-top: 20px;
	}
	.subscribe-text {
		padding: 20px;
	}
	.subscribe-form {
		width: 100%;
		padding: 20px;
		.red-btn {
			height: 45px;
			line-height: 45px;
		}
	}
	.f-email {
		width: 61%;
		float: left;
		height: 45px;
		line-height: 45px;
		input {
			width: 70%;
		}
		.mail-icon {
			@include s(fmail-icon-big);
			position: relative;
			top: 7px;
		}
	}
	.bx-pager {
		display: none;
	}
} 
@media (max-width: 479px) {
	.logo-block {
		width: 100px;
		padding-top: 10px;
	}
	.logo-descr {
		top: 0;
	}
	.search {
		bottom: 0;
		width: 80%;
	}
	.cart-block {
		bottom: 0;
		width: 20%;
	}
	.cart-block-full {
		width: 39%;
		.cart-icon {
			background: url(../img/icons/cart-btn.png) 0 0 no-repeat;
			-webkit-background-size: 100% auto;
			     -o-background-size: 100% auto;
			        background-size: 100% auto;
			width: 24px;
			height: 25px;
			position: absolute;
			left: 5px;
			top: 11px;
		}
		.cart-cont {
			padding-left: 25px;
		}
	} 
	.scbf {
		width: 61%;
	}
	.fb-col1 {
		padding-top: 30px;
	} 
	.fb-col3 {
		padding-top: 25px;
	} 
}