///////////////// responsive /////////////////////
@media (max-width: 1023px) {
	.content {
		width: 100%;
		max-width: 1023px;
	}
	.container {
		padding-left: 10px;
		padding-right: 10px;
	}
	.htel-block {
		float: right;
	}
	.search {
		margin-right: 0;
	}
	.topslider {
		background: none;
	}
	.sidebar {
		display: none;
	}
	.top-panel-menu {
		display: none;
	}
	.private-cabinet {
		float: left;
	}
	.menu-btn {
		display: inline-block;
	}
	.htop {
		min-height: 180px;
	}
	.topmenu-wrapper {
		display: none;
	}
	.search {
		position: absolute;
		bottom: 10px;
		left: 0;
		width: 88.6%;
	}
	.search-form {
		width: 100%;
		height: 48px;
		line-height: 48px;
	}
	.search-input {
		height: 44px;
		line-height: 44px;
	}
	.header {
		border-bottom: none;
	}
	.search-btn {
		@include s(search-icon-big);
		position: relative;
		top: 8px;
	}
	.cart-block {
		right: 0;
		bottom: 10px;
		background: #A90C00;
		height: 48px;
		position: absolute;
		width: 11.4%;
		text-align: center;
		padding-left: 0;
		cursor: pointer;
	}
	.cart-cont {
		display: none;
	}
	.cart-icon {
		@include s(cart-btn);
		display: inline-block;
		position: relative;
		top: 6px;
	}
	.cart-block-full {
		width: 38%;
		text-align: left;
		padding-left: 15px;
		float: left;
		.cart-cont {
			display: block;
			color: #FFF;
			padding-left: 60px;
			padding-top: 5px;
			line-height: 1.4em;
			a {
				color: #FFF;
			}
			span {
				display: block;
				font-weight: bold;
			}
		}
		.cart-title {
			display: none;
		}
		.cart-icon {
			position: absolute;
			left: 15px;
			top: 7px;
		}
	}
	.scbf {
		width: 61%;
	}
	.mobile-dropmenu {
		background: #FFF;
		position: absolute;
		top: 50px;
		z-index: 102;
		width: 98%;
		border: 1px solid #E0E0E0;
		ul {
			float: left;
			width: 50%;
			padding: 0 10px;
			border-left: 1px solid #CCC;
			&:first-child {
				border-left: none;
			}
			li {
				border-bottom: 1px solid #D9D9D9;
				a {
					padding: 15px;
					font-size: 17px;
					font-weight: bold;
					color: #353535;
					display: block;
				}
			}
		}
	}
	.private-dropdown {
		z-index: 104;
		left: 0;
		right: auto;
	}
	.search-results {
		display: none;
	}
	.search-form.search-ext {
		border-bottom: 1px solid #d9d9d9;
	}
	.cart-bot {
		.ct-col1 {
			width: 30%;
		}
		.ct-col2 {
			width: 12%;
		}
		.ct-col3 {
			width: 20%;
		}
		.ct-col4 {
			width: 37%;
		}
	}
	.bit-icon {
		width: 40px;
	}
	.dis-icon {
		position: relative;
		left: 5px;
	}
	.shop-icon {
		position: relative;
		left: 5px;
	}
	.cart-in {
		font-size: 21px;
	}
	.kol-minus, .kol-plus,.kol-input {
		width: 35px;
		height: 35px;
		line-height: 34px;
	}
} 
 
//////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 767px) {
	.page-title {
		position: relative;
		padding-left: 75px;
		padding-right: 75px;
		&:after {
			position: absolute;
			right: -20px;
			top: 50%;
			margin-top: -5px;
		}
		&:before {
			position: absolute;
			left: -20px;
			top: 50%;
			margin-top: -5px;
		}
		.yelback {
			display: block;
		}
	}
	.search-input {
		min-width: 140px;
		width: 78%;
	}
	.tb-wrapper {
		width: 50%;
	}
	.public-wrapper,.banners,.main-text-block,.fcol2,.fcol3,.fcol4,.breadcrumbs {
		display: none;
	}
	.fcol1 {
		width: 60%;
	}
	.fcol5 {
		width: 40%;
	}
	.fb-col2 {
		position: absolute;
		top: -10px;
		left: 0px;
		width: 100%;
		text-align: center;
		a {
			color: #2E2E2E;
			font-size: 9px;
			font-family: georgia;
			text-transform: uppercase;
			padding: 0 5px 0 3px;
			&:first-child {
				padding-left: 0;
			}
			&:last-child {
				padding-right: 0;
			}
		}
	}
	.fb-col1 {
		width: 55%;
		padding-top: 20px;
		img {
			max-width: 100%;
		}
	}
	.fb-col3 {
		width: 40%;
		padding-top: 20px;
	}
	.subscribe-text {
		padding: 20px;
	}
	.subscribe-form {
		width: 100%;
		padding: 20px;
		.red-btn {
			height: 45px;
			line-height: 45px;
		}
	}
	.f-email {
		width: 60%;
		float: left;
		height: 45px;
		line-height: 45px;
		input {
			width: 68%;
		}
		.mail-icon {
			@include s(fmail-icon-big);
			position: relative;
			top: 7px;
		}
	}
	.bx-pager {
		display: none;
	}
	.product-wrapper {
		.product-block {
			width: 50%;
		}
	}
	.cat-top {
		padding-right: 0;
	}
	.sort {
		border: none;
		position: relative;
		padding-left: 0;
		padding-right: 0;
	}
	.tags-mobile {
		margin-bottom: 35px;
	}
	.tags-mobile-label {
		font-size: 15px;
		text-transform: uppercase;
		font-family: georgia;
		margin-bottom: 10px;
	}
	.sort-on-label {
		font-size: 15px;
		text-transform: uppercase;
		font-family: georgia;
		margin-bottom: 10px;
		color: #353535;
		position: absolute;
		top: -15px;
	}
	.sort {
		.checkbox {
			font-family: arial, sans-serif;
			text-transform: none;
			font-size: 15px;
		}
	}
	.pp-img {
		float: none;
		width: 100%;
		margin-bottom: 25px;
	}
	.pp-content {
		width: 100%;
		float: none;
	}
	.ao-left {
		float: none;
		width: 100%;
	}
	.ao-right {
		float: none;
		width: 100%;
	}
	.add-otz {
		.ao-right {
		float: none;
		width: 100%;
	}
	.form-group {
		.form-control {
			height: 49px;
			font-size: 13px;
		}
	}
}
	.op-block {
		width: 100%;
	}
	.bb-btn {
		padding-left: 15px;
		padding-right: 15px;
	}
	.pp-img {
		.bx-wrapper {
			float: left;
			width: 72%;
			margin-bottom: 30px;
		}
	}
	.ct-col {
		float: none;
		margin-left: 115px;
		width: 60%;
		margin-bottom: 20px;
	}
	.ct-col1 {
		margin-left: 0;
		width: 100%;
	}
	.cart-item-img {
		width: 105px;
	}
	.ct-col-title {
		font-family: georgia;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	.book-kol-block {
		margin-bottom: 0;
	}
	.cart-item-options {
		position: absolute;
		top: 195px;
		left: 0;
	}
	.cart-row {
		position: relative;
	}
	.cart-bot {
		padding-bottom: 63px;
		.ct-col1 {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
		.ct-col3 {
			width: 100%;
			margin-left: 0;
		}
		.ct-col4 {
			width: 100%;
			margin-left: 0;
		}
		.cart-price {
		float: none;
		overflow: hidden;
		margin-bottom: 30px;
		span {
			display: inline-block;
			float: left;
			&:last-child {
				float: right;
				position: relative;
				top: 5px;
			}
		}
	}
	}
	.autor-text {
		margin-left: 0;
	}
	.autor-img {
		margin-right: 10px;
	}
	.pp-slider {
		li {
			width: 194px !important;
			
		}
	}
	.pp-img {
		position: relative;
		#bx-pager {
			position: absolute;
			right: 0;
			top: 0;
			width: 106px;
		}
	}
	.book-art {
		position: absolute;
		top: 0;
		left: 0;
	}
	.pp-content {
		position: relative;
		//overflow: hidden;
		padding-top: 25px;
	}
	.book-kol-block {
		margin-bottom: 20px;
	
	}
	.offer-btn {
		float: right;
	}
	.offer-btn-wrapper {
		.pmb-info {
			margin-top: 15px;
			float: left;
		}
	}
	.reg-mess {
		margin-left: 0;
	}
	.reg-check {
		top: 0;
	}
	.s-find {
		font-size: 11px;
	}
	.search-top {
		.checkbox {
			font-size: 11px;
		}
	}
	.ob-button {
		position: absolute;
		right: 0px;
		top: 35px;
	}
	.ob-button-open {
		&:after {
			@include s(ob-arr-mobile);
			top: -20px;
			left: 50%;
			margin-left: -11px;
		}
	}
	.ob-button-close {
		&:after {
			@include s(ob-arr2-mobile);
			top: -20px;
			left: 50%;
			margin-left: -11px;
		}
	}
	.ob-status {
		display: block;
	}
	.ob-short-num {
		display: block;
		margin-bottom: 10px;
	}
	.ob-pro-info {
		width: 63%;
		margin-right: 0;
		padding-top: 0;

	}
	.ob-pro-img {
		margin-right: 5%;
		width: 32%;
		
	}
	.ob-pro-title {
		padding-bottom: 18px;
		&:after {
			top: 9px;
		}
	}
	.ob-pro-kol {
		padding-top: 10px;
		float: none;
	}
	.ob-pro-price {
		padding-top: 10px;
		float: none;
	}
	.ob-pro-size {
		margin-bottom: 10px;
	}
	.cab-h2 {
		font-size: 21px;
		padding-bottom: 20px;
	}
	.cat-top {
		margin-bottom: 10px;
	}
	.reg-left {
		float: none;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		
	}
	.reg-right {float: none;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;float: none;
		margin-bottom: 20px;
	}
	.regd-modal-right {
		float: none;
		width: 100%;
	}
	.regd-modal-left {
		float: none;
		width: 100%;
	}
	  .subscribe-form-bottom {
	  	padding: 0;
	  	margin-bottom: 30px;
	  	.f-email {
	  		input {
	  			width: 115px;
	  		}
	  	}
	  }
	.img-404 {
		float: none;
		padding-top: 100px;
		padding-bottom: 50px;
		width: 100%;
	}
	.content-404 {
		margin-left: 0;
		.cat-title {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.one-offer {
		left: 0;
		top: 88px;
	}
	.hello-user {
		font-size: 21px;
	}
	.mess {
		font-size: 21px;
	}
	.add-otz .form-group textarea.form-control {
		height: 100px;
	}
	.cab-h2 {
		padding-bottom: 20px;
	}
	.h2 {
		font-size: 21px;
	}
	.checkbox.check-mobile {
		position: relative;
		top: 12px;
	input[type="checkbox"] + label::before {
			@include s(check-m);
			top: -5px;
			left: -15px;
		}
	input[type="checkbox"]:checked + label::before {
		@include s(check-on-m);
		top: -5px;
	}
}
} 

//////////////////////////////////////////////////////////////////////////////////////////////////////
@media (max-width: 479px) {
	.logo-block {
		width: 100px;
		padding-top: 10px;
	}
	.logo-descr {
		top: 0;
	}
	.search {
		bottom: auto;
		width: 80%;
		top: 70px;
	}
	.cart-block {
		bottom: 0;
		width: 20%;
	}
	.cart-block-full {
		width: 39%;
		.cart-icon {
			background: url(../img/icons/cart-btn.png) 0 0 no-repeat;
			-webkit-background-size: 100% auto;
			     -o-background-size: 100% auto;
			        background-size: 100% auto;
			width: 24px;
			height: 25px;
			position: absolute;
			left: 5px;
			top: 11px;
		}
		.cart-cont {
			padding-left: 25px;
		}
	} 
	.scbf {
		width: 61%;
	}
	.fb-col1 {
		padding-top: 30px;
	} 
	.fb-col3 {
		padding-top: 25px;
	}
	.box-modal {
		min-width: 200px;
		font-size: 13px;
		padding: 20px;
	} 
	.auth-pass {
	padding-right: 10px;
	
	}
	.arcticmodal-container_i2 {
		padding: 12px;
	}
	.ya-map {
		img {
			width: 100%;
		}
	}
	.grey-btn {
		font-size: 15px;
	}
	.cat-title {
		font-size: 26px;
	}
	.sort-select {
		width: 100%;
	}
	.sort {
		.fl {
			float: none;
			margin-bottom: 10px;
		}
	}
	.pmb-img {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.pmb-content {
		margin-left: 0;
		padding-right: 0;
	}
	.pmb-other-wrapper {
		li {
			width: 50%;
		}
	}
	.kol-input {
		width: 36px;
	}
	.book-kol-block .kol {
		padding-right: 5px;
	}
	.dost {
		padding-left: 5px;
	}
	.page-title-h1 {
		font-size: 30px;
	}
	.prod-suc-add {
		max-width: 300px;
		font-size: 20px;
	}
	.psa-btns {
		a {
			display: block;
			margin-bottom: 15px;
			margin-top: 15px;
			font-size: 15px;
		}
	}
	.xs-wide-btn {
		width: 100%;
		
	}
	.offer-btn-wrapper {
		.pmb-info {
			margin-top: 15px;
			float: none;
		}
	}
	.offer-btn {
		float: left;
	}
	.reg-field {
		width: 100%;
		float: none;
	}
	.reg-label {
		width: 100%;
		float: none;
		text-align: left;
	}
	.radio-reg input[type="radio"] + label::before {
		position: static;

	}
	.reg-left {
		.tar {
			text-align: left;
		}
	}
	.cards {
		img {
			width: 16%;
		}
	}
	.blue-btn {
		padding-left: 0 !important;
		padding-right: 0 !important;
		width: 100%;
		font-size: 14px;
	}
}